page-custom-program-creation {

    .center-label{
        text-align: center
    }

    .whats-this-button{
        margin: 0px 0px 0px 30px;
    }

    ion-toolbar{
        text-align: center;
    }
}